<div class="big-blog-form"
	<%= form_for @blog do |f| %>
		<%= f.text_field :title, placeholder: "title", id: "ftitle" %><br>
		<%= text_area(:content, :text, size: "80x20") %>
		<%= f.submit "create" %>
	<% end %>
</div>