// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-entry, .blog-full, .blog-full-content {
	border-radius: 10px;
	padding:10px 15px 15px;
	text-align: justify;
	flex: none;
}

.blog-entry {
	width: 45%;
	margin: 12px 0;
	background-color: #ddd;
}

.blog-full {
	width:90%;
	margin:10px auto 0;
	background-color: #eee;
	padding-bottom:0;
}

.blog-entry, .blog-full {
	border: 3px double #c2c2c2;
}

.blog-full h2 {
	color: #555;
	margin-bottom:5px;
	font-weight:lighter;
}

.blog-entry h3 {
	margin-bottom:10px;
}

h3 b {
	font-variant:small-caps;
}

.blog-full-content {
	margin:10px 0;
	background-color: #eee;
}

.blog-options a {
	margin-right:15px;
	font-variant:small-caps;
}

.blog-options {
	margin-left: 10px;
	display:inline-block;
}

.full-comm {
	margin:10px 5% 0 0;
}

.blog-full h3 {
	margin:5px 0 15px;
	border-top: 2px dotted pink;
	padding-top:5px;
}